

<% content_for :title, "New product" %>

<h1 class="page-title">New Product</h1>

<%= render "form", product: @product %>

<br>

<div class="back-link">
  <%= link_to "Back to Products", products_path, class: "btn back-btn" %>
</div>
